.header_menu-hamb{
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    align-items: center;
    position: relative;
}

.container{
    display:flex;
    align-items: center
}

.container_imagem{
    padding: 0.6em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao{
    display:none;
}

.container_botao:checked ~ .header_menu-hamb{
    background-color: blue;
}

.container_botao:checked ~ .lista-menu{
    display:block;
}



.lista-menu_titulo, .lista-menu_itens{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu_titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista_links{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container_titulo{
    display:none;
}

.header_opcoes{
    display: none;
}


@media screen and (min-width: 1024px) {
    .container_titulo, .container_titulo-strong{
        display: block;
        font-family: var(--fontLogo);
        font-size: 1.87em;
    }

    .container_titulo{
        font-weight: 400;
    }

    .container_titulo-strong{
        font-weight: 700;
    }

    .header_opcoes{
        display:flex;
    }

    .header_opcoes_itens{
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opcoes_links{
        text-decoration: none;
        color:black;
    }

    .container_imagem-fav{
        display:none;
    }
    .header_menu-hamb{
        display: none;
    }
    .opcoes_check:checked ~ .lista-menu{
        display:block;
        width:auto;
    }
    .opcoes_check{
        display: none;
    }
}