.news_container{
    display:flex;
    flex-flow: column nowrap;
    padding: 1.5em;
    justify-content: space-between;
    background-color: var(--branco);
}

.news_cotainer_titulo{
    font: 400 1.12em var(--font);
}

.news_container_paragrafo{
    padding: 0.5em 0 1.5em 0;
    font: 300 1em var(--font);
}

.news_container_input{
    border: 1px solid var(--azul);
    border-radius: 1.5em;
    background: transparent;
    font: 400 1em var(--font);
}

.news_container_input::placeholder{
    background-image: url("assets/Email.svg");
    background-repeat: no-repeat;
    background-size: contain;
    text-align:center;
    background-position: 4.5em;
}